In [5]:
import pandas as pd

In [1]:
pip install openpyxl

Collecting openpyxl
  Using cached openpyxl-3.1.2-py2.py3-none-any.whl (249 kB)
Collecting et-xmlfile (from openpyxl)
  Using cached et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.1.2
Note: you may need to restart the kernel to use updated packages.

In [3]:
import pandas as pd

In [4]:
#create a Dataframe called df
df = pd.read_excel(r'c:\Users\student\Desktop\SANDRA WITI 3\YEAR ONE\SEMETER ONE\DATA SCIENCE\DATA\dataset (1).xlsx')
print(df)

     S/N             student_names  age weight   height
0    1.0            Adokorac Nancy   20     74    177.8
1    2.0   Amutuhaire Faith Ahabwe   27     47   157.48
2    3.0     KWAGALA JOANNA VICTOR   21     54   185.42
3    4.0              mahoro cathy   23     30   185.42
4    5.0  Mbabazi Hawa Bint Edrisa   19     59   175.26
5    6.0       Nakanjako josephine   24     65   175.26
6    7.0            Nanteza Dorcus   21     69   157.48
7    8.0             Mbabazi Angel   19     57   167.64
8    9.0            Namara Racheal   19     55   154.94
9   10.0       Lwamulungi Sheillah   22     78   162.56
10   NaN           Nakawuka Sandra   25     60   175.26
11   NaN   Achola Gloria Fortunate   27     80   172.72
12   NaN             Nagawa Esther   21     58   188.42
13   NaN           wanjiku hananny   19     50    165.1
14   NaN            babirye Sandra   21     50   175.26
15   NaN          nakagga shanitah   21     50   175.26
16   NaN    Wembabazi Vivian Ritah   20     49   160.02
17   NaN   Nanziri Ritah Namayanja   23     70   162.56
18   NaN            Nasejje Mariam   20     62    101.6
19   NaN  Namukose Jolline Edriana   20     55   162.56
20   NaN      Agatha Faith Anyango   27     55    93.98
21   NaN              Kirabo Sarah   23     60    165.1
22   NaN          Nansalire Anitah   21     45     63.5
23   NaN             Nalugo gladys   19     70    101.6
24   NaN            Namakula Allen   20     55   170.18
25   NaN           Tukahirwa emily   22     67   175.26
26   NaN            Shamirah Ahmed   21     67   137.16
27   NaN          Ameso lmmaculate   23     64    165.1
28   NaN                Ayoo Teddy   20     50   157.48
29   NaN                Biira Mary   30     65   104.14
30   NaN        Aloyo Brenda Ojera   23     52   170.18
31   NaN        Ayebale Immaculate   24     50   162.56

In [5]:
df.head()

   S/N             student_names  age weight   height
0  1.0            Adokorac Nancy   20     74    177.8
1  2.0   Amutuhaire Faith Ahabwe   27     47   157.48
2  3.0     KWAGALA JOANNA VICTOR   21     54   185.42
3  4.0              mahoro cathy   23     30   185.42
4  5.0  Mbabazi Hawa Bint Edrisa   19     59   175.26

STUDENT AGE

In [7]:
#mean
mean_age = df['age'].mean()
print(mean_age)

22.03125

In [8]:
#variance
var_age = df['age'].var()
print(var_age)

7.644153225806452

In [9]:
#standard deviation
std_age = df['age'].std()
print(std_age)

2.7648061823220904

STUDENT WEIGHT

In [13]:
#weight
df = df[pd.to_numeric(df['weight'],errors='coerce').notna()]

In [14]:
#mean weight
mean_weight = df['weight'].mean()
print(mean_weight)

60.607142857142854

In [15]:
#variance
var_weight = df['weight'].var()
print(var_weight)

80.09920634920634

In [16]:
#standard deviation
std_weight = df['weight'].std()
print(std_weight)

8.949815995270871

STUDENT HEIGHT

In [19]:
#height
df = df[pd.to_numeric(df['height'],errors='coerce').notna()]

In [20]:
#mean weight
mean_height = df['height'].mean()
print(mean_height)

166.37

In [21]:
#variance
var_height = df['height'].var()
print(var_height)

29.032200000000035

In [22]:
#standard deviation
std_height =df['height'].std()
print(std_height)

5.388153672641495